/* font import [start] */

/* font import [end] */
/* galobal css [START] */
:root {
  --black-2: #100e26;
  --status-custom-colors-primary: #564cff;
  --gray-8: #efefef;
}
body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* galobal css [END] */
/* header [START] */
header {
  background: linear-gradient(
      180deg,
      rgba(24, 130, 255, 0.13) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  
}
header > section:first-of-type {
  display: flex;
  width: 1296px;
  justify-content: space-between;
  align-items: center;
  
}
/* rghit header [start] */
header > section:first-of-type > ul:first-of-type {
  display: flex;
  align-items: center;
  gap: 32px;
}
header > section:first-of-type > ul:first-of-type > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 9px;
}
header > section:first-of-type > ul:first-of-type > div:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
header > section:first-of-type > ul:first-of-type > div:last-of-type li {
  color: var(--black-2);
  text-align: center;

  /* web/heading/small 1 */
  font-family: Gilroy-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
/* rghit header [end] */
/* left header [start] */
header > section:first-of-type > ul:last-of-type {
  display: flex;
  align-items: center;
  gap: 24px;
}
header > section:first-of-type > ul:last-of-type > li:first-of-type > a {
  cursor: pointer;
  color: var(--black-2, #100e26);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: block;
}
header > section:first-of-type > ul:last-of-type > li:last-of-type {
  display: flex;
  width: 196px;
  padding: 18px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 48px;
  background: var(--status-custom-colors-primary);
  color: #fff;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160.8%; /* 25.728px */
}
/* left header [end] */
/* header [END] */
/* banner [START] */
header > section:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* left banner [start] */
header > section:last-of-type > div:first-of-type {
  display: inline-flex;
  height: 272px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-shrink: 0;
}
header > section:last-of-type > div:first-of-type h1 {
  color: #000;
  font-family: Gilroy-SemiBold;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header > section:last-of-type > div:first-of-type p {
  color: #8b8b8b;
  font-family: Gilroy-Bold;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
header > section:last-of-type > div:first-of-type > div {
  width: 609px;
}
header > section:last-of-type > div:last-of-type button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
header > section:last-of-type > div > div:last-of-type button:first-of-type {
  width: 234.485px;
  height: 64px;
  padding: 22px 32px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 48px;
  background: var(--status-custom-colors-primary, #564cff);
  cursor: pointer;
  border: none;
}
header > section:last-of-type > div > div:last-of-type button:first-of-type a {
  color: var(--gray-10, #fafafa);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
header > section:last-of-type > div > div:last-of-type button:last-of-type {
  width: 158.185px;
  height: 64px;
  padding: 22px 32px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1.5px solid var(--gray-1, #c8c8c8);
}
header > section:last-of-type > div > div:last-of-type button:last-of-type a {
  color: #564cff;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
/* left banner [end] */
header > section:last-of-type > div:last-of-type {
  width: 636px;
  height: 591px;
  flex-shrink: 0;
  background-color: #e1e1e1;
}
/* banner [END] */
/* About-Us-SEC [START] */
#About-Us-SEC {
  width: 100%;
  height: 254px;
  background: linear-gradient(157deg, #cecbff 2.11%, #98c0ff 96.69%);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#About-Us-SEC h1 {
  color: var(--black-5, #211f51);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#About-Us-SEC p {
  color: var(--black-3, #151332);
  text-align: center;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160.8%; /* 25.728px */
  width: 923px;
  height: 103px;
  flex-shrink: 0;
}
/* About-Us-SEC [END] */
/* Members-About-SEC [START] */
.Members-About-SEC {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: linear-gradient(
      86deg,
      rgba(172, 180, 255, 0.2) 6.6%,
      rgba(255, 255, 255, 0) 98.51%
    ),
    #fff;
  justify-content: center;
  align-items: center;
}
#title-Members-About-SEC h1 {
  color: var(--black-5, #211f51);
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-creator-div {
  display: inline-flex;
  align-items: center;
  gap: 130px;
}
.text-about-Members-About-SEC {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
}
.text-about-Members-About-SEC div:first-of-type {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.text-about-Members-About-SEC div:first-of-type h5 {
  color: #000;
  text-align: center;

  /* web/heading/larg */
  font-family: Gilroy-Bold;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-about-Members-About-SEC div:first-of-type p {
  color: #000;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160.8%; /* 25.728px */
  width: 626px;
  height: 180px;
}
.text-about-Members-About-SEC div:last-of-type {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}
.text-about-Members-About-SEC div:last-of-type * {
  color: #000;
  text-align: center;

  /* web/heading/small 1 */
  font-family: Gilroy-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 1px;
}
/* Members-About-SEC [END] */
