ul {
  list-style: none;
  display: flex;
}

li {}

body {
  padding: 0;
  margin: 0;
}


:root {
  /*========== Colors ==========*/
  --primary-color1: #4318FF;
  --primary-color2: #522AFF;
  --primary-color3: #613DFF;
  --primary-color4: #704FFF;
  --primary-color5: #7758FF;

  --secondary-color-red1: #CC1F14;
  --secondary-color-red2: #D33026;
  --secondary-color-red3: #DB4238;
  --secondary-color-red4: #E2534B;
  --secondary-color-red5: #E65C54;

  --secondary-color-yellow1: #F5A623;
  --secondary-color-yellow2: #F6B343;
  --secondary-color-yellow3: #F8C063;
  --secondary-color-yellow4: #F9CD84;
  --secondary-color-yellow5: #FAD394;

  --secondary-color-pink1: #CC0157;
  --secondary-color-pink2: #D91768;
  --secondary-color-pink3: #E62F7B;
  --secondary-color-pink4: #F24990;
  --secondary-color-pink5: #FF67A6;

  --secondary-color-green1: #02B213;
  --secondary-color-green2: #15BF26;
  --secondary-color-green3: #2ACC3A;
  --secondary-color-green4: #45E655;
  --secondary-color-green5: #67FF76;

  --secondary-color-black1: #08071C;
  --secondary-color-black2: #100E26;
  --secondary-color-black3: #151332;
  --secondary-color-black4: #1A183F;
  --secondary-color-black5: #211F51;
  --secondary-color-black6: #292663;
  --secondary-color-black7: #302C74;
  --secondary-color-black8: #34307D;
  --secondary-color-black9: #383386;
  --secondary-color-black10: #3B378F;
  --secondary-color-black11: #3F3A98;

  --secondary-color-gray1: #C8C8C8;
  --secondary-color-gray2: #CECECE;
  --secondary-color-gray3: #D3D3D3;
  --secondary-color-gray4: #D9D9D9;
  --secondary-color-gray5: #DEDEDE;
  --secondary-color-gray6: #E3E3E3;
  --secondary-color-gray7: #E9E9E9;
  --secondary-color-gray8: #EFEFEF;
  --secondary-color-gray9: #F4F4F4;
  --secondary-color-gray10: #FAFAFA;

  --primary-color-bg: #fff;
  --title-color: #222222;
  --text-color: #666666;
  --icon-color: #949494;
  /* ========== Font and typography ==========*/

  --WebDisplay-larg2: 64px;
  --WebDisplay-medium: 54px;
  --WebDisplay-small: 40px;

  --WebHeading-larg: 34px;
  --WebHeading-medium: 24px;
  --WebHeading-small1: 20px;
  --WebHeading-small2: 18px;
  --WebHeading-caption: 14px;

  --WebBody-big: 16px;
  --WebBody-smal: 14px;

  --MobileHeading-larg: 28px;
  --MobileHeading-medium: 20px;

  --MobileHeading-larg: 16px;
  --MobileHeading-Medium: 14px;
  --MobileHeading-MediumSemiBold: 12px;

  --MobileHeading-big: 14px;
  --MobileHeading-small: 12px;
  --MobileHeading-verySmall: 8px;
}

  /* =============== nav =============== */



  /*=============== VARIABLES CSS ===============*/

  .frame {
    font-family: 'Gilroy-bold';
    font-family: 'Gilroy-bold';
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
  margin: 0;
  }
  .ul{
    padding: 0;
  }
  header >.menu > .frame> .ul > li > a {
    padding-left: 22px;
  }
  .menu{
    background: linear-gradient(180deg, rgba(24, 130, 255, 0.13) 0%, rgba(255, 255, 255, 0.00) 100%), #FFF;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .img-slider {
    max-width: 441px;
    margin: 30px;
    max-height: auto;
    /* background-color: var(--secondary-color-gray1); */
  }

  .img-intro {
    max-width: 360px;
    /* background-color: var(--secondary-color-gray1); */
  }

  /* .width_set {
    max-width: 1440px;
  } */

  .img-icon {
    width: 63px;
    height: auto;
  }


  .section {
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin: 1rem;
  }
  #hamid-rever{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin: 1rem;
  }
  #Raha-revers{
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    text-align: justify;
    justify-content: center;
    margin: 1rem;
  }

  .section .img-slider,
  .section .img-intro,
  .section .description,
  .section .member_intruduction {
    flex: 1;
  }

  .grad-bg {
    background: linear-gradient(157deg, #CECBFF 2.11%, #98C0FF 96.69%);
  }

  .primery_icon {
    background: var(--primary-color1);
    font-family: Gilroy;
    border-radius: 80px;
    border: 48px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 32px;
    padding-right: 32px;
    height: 64px;
    width: auto;
    color: #fff;
  }

  .primery_icon:hover {
    background: var(--primary-color1);
    border-radius: 80px;
    border: 48px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 32px;
    padding-right: 32px;
    height: 64px;
    width: auto;
    color: #fff;
  }

  .outlined_btn_primery {
    background: white;
    border-radius: 80px;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 25px;
    height: 48px;
    width: 141px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secondary-color-gray1);
    color: var(--primary-color1);
  }

  .button_align {
    display: inline-flex;
    align-content: flex-end;
    align-items: flex-end;
    text-align: center;
    margin-top: 40px;
  }

  .center-align {
    display: block;
    text-align: center;
    align-items: center;

  }

  .row-align {
    display: flex;
    flex-direction: row;
  }

  .reverse-row-align {
    display: flex;
    flex-direction: row;
  }

  .paragraph {
    max-width: 923px;
  }

  .description {
    max-width: 609px;
  }

  .intro {
    max-width: 609px;
  }

  .member_intruduction {
    max-width: 626px;
  }

  .footer {
    background: linear-gradient(90deg, #D737FF 1.42%, #0029FF 100.56%);
    color: #FFF;
    margin: 0;
  }
  .hamburger-menu{
    display: none;
  }
  
/* menu mobile style */
.hamburger-menu {
  display: none;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

#logout {
  margin-top: 412px;
}
.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2b2727;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #fafafaf2;
  transition-duration: 0.25s;
  border-radius: 30px 0 0 50px;
}
.menu__box > li > a > img {
  float: left;
  padding-right: 5px;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  text-align: left;
  margin-bottom: 9%;
}
.menu__item:hover {
  width: 150px;
  height: 35px;
  border-radius: 43px;
  background: var(--primary-4, #704fff);
  box-shadow: 0px 0px 14px 0px rgba(119, 88, 255, 0.23);
}


/* finish */



@media screen and (max-width:768px) {

  .flex-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .flex-desktop-reverse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #hamid-rever{
    flex-direction: column !important;
  }
  #Raha-revers{
    flex-direction: column !important;
  }
  .menu{
    display: none;
  }
  .hamburger-menu{
    display: flex;
  }
 .logo{
  padding: 15px;
 }

}
